<launch>

    <arg name="stdout" default="screen" />
    <arg name="camera_name" default="/mono_camera" />
    <arg name="image_topic" default="image_raw" />
    <arg name="frame_name" default="mono_camera" />
    <arg name="sensor_id" default="0" />

    <!-- Marker size (side) in meters -->
    <let name="marker_size" value="0.2"/>

    <!-- <node pkg="calibration" exec="mono_qr_pattern" name="mono_pattern_$(var sensor_id)" output="$(var stdout)"> -->
    <node pkg="calibration" exec="mono_qr_pattern" name="mono_pattern_$(var sensor_id)" output="screen">
        <param name="image_topic" value="$(var camera_name)/$(var image_topic)" />
        <param name="cinfo_topic" value="$(var camera_name)/camera_info" />
        <param name="marker_size" value="$(var marker_size)"/>
    </node>

    <node pkg="tf2_ros" exec="static_transform_publisher" name="camera_ros_tf_$(var sensor_id)" args="0 0 0 -1.57079632679 0 -1.57079632679 rotated_$(var frame_name) $(var frame_name)"/>
</launch>
